@import "tailwindcss";

@font-face {
  font-family: "Integral-Bold";
  src: url("/fonts/Integral_CF/Fontspring-DEMO-integralcf-bold.otf")
    format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

.footer-gradient {
  @apply w-full;
  background: linear-gradient(to bottom, #ffffff 10%, #f0f0f0 10%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: 'Satoshi-Variable';
  background: var(--white-color);
  color: var(--black-color);
}

h1 {
  font-family: 'Integral-Bold';
  font-weight: bold;
}

p {
  line-height: 1.6;
}