@import "tailwindcss";
@import url("base/variables.css");

.footer-gradient {
  @apply w-full;
  background: linear-gradient(to bottom, #ffffff 10%, #f0f0f0 10%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-primary);
  background: var(--white-color);
  color: var(--black-color);
}

h1 {
  font-family: var(--font-secondary);
  font-weight: bold;
}

p {
  line-height: 1.6;
}